%h3.display-3.text-center Admin List

%div.row.justify-content-center
    %div.col-9
        %table.table.table-hover
            %thead.thead-dark
                %tr
                    %th.text-center
                        %p Username
                    %th.text-center
                        %p Password
                    %th.text-center
                        %p ID
            %tbody
                - @adminlist.each do |offer|
                    %tr
                        %td.text-center= offer.username
                        %td.text-center= offer.password
                        %td.text-center= offer.id
								