%h1.display-3.text-center Course List

%div.container-fluid
	%div.row
		%div.col-1
		%di.col-10
			%table.table.table-hover
				%thead.thead-dark
					%tr
						%th.text-center Course ID
						%th.text-center Course Title
						%th 

				%tbody
					- @courses.each do |course|
						%tr
							%td.text-center= course.admin_course_id
							%td.text-center= course.long_title
							%td.text-center= link_to 'Show', course
		%div.col-1

	%div.row.justify-content-center
		= raw pagy_bootstrap_nav_js(@pagy)