%h1.display-3.text-center Course List

%table.table.table-hover
  %thead.thead-dark
    %tr
      %th Course ID
      %th Title
      %th 

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.admin_course_id
        %td= course.long_title
        %td= link_to 'Show', course

%br

= raw pagy_bootstrap_nav_js(@pagy)