%h1 Course List

%table.table.table-hover
  %thead
    %tr
      %th Course ID
      %th Title
      %th 

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.admin_course_id
        %td= course.long_title
        %td= link_to 'Show', course

%br

= link_to 'New Course', new_course_path
