* {
	margin: 0;
	padding: 0;
}
#Offerings_Tab {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1280px;
	height: 799px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Offerings Tab;
	--web-view-id: Offerings_Tab;
	--web-enable-deep-linking: true;
}
#COMPUTER_SYSTEMS_UG {
	position: absolute;
	left: 55px;
	top: 66px;
	overflow: hidden;
	width: 371px;
	height: 41px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(77,77,77,1);
}
#Total_Earnings {
	position: absolute;
	width: 370px;
	height: 133px;
	left: 855px;
	top: 224px;
	overflow: visible;
}
.BG {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 151px;
	left: 0px;
	top: 0px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.060);
}
#ID29_02_2020 {
	position: absolute;
	left: 20px;
	top: 65px;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#Date_Started {
	opacity: 0.5;
	position: absolute;
	left: 20px;
	top: 20px;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Total_Sales {
	position: absolute;
	width: 370px;
	height: 133px;
	left: 455px;
	top: 224px;
	overflow: visible;
}
.BG_A24_Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 151px;
	left: 0px;
	top: 0px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.060);
}
#ID0283823 {
	position: absolute;
	left: 20px;
	top: 66px;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#Course_ID {
	opacity: 0.5;
	position: absolute;
	left: 20px;
	top: 21px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Total_Views {
	position: absolute;
	width: 370px;
	height: 133px;
	left: 55px;
	top: 224px;
	overflow: visible;
}

.BG_A24_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 151px;
	left: 0px;
	top: 0px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.060);
}
#Computer_Systems {
	position: absolute;
	left: 20px;
	top: 64px;
	overflow: hidden;
	width: 310px;
	white-space: normal;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(77,79,92,1);
}
#Long_Course_Title {
	opacity: 0.5;
	position: absolute;
	left: 20px;
	top: 21px;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Catalog_Data {
	position: absolute;
	left: 55px;
	top: 133px;
	overflow: hidden;
	width: 119px;
	height: 24px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Offerings {
	position: absolute;
	left: 187px;
	top: 133px;
	overflow: hidden;
	width: 81px;
	height: 24px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Components {
	position: absolute;
	left: 297px;
	top: 133px;
	overflow: hidden;
	width: 111px;
	height: 24px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Scheduling {
	position: absolute;
	left: 429px;
	top: 133px;
	overflow: hidden;
	width: 111px;
	height: 24px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
#Publication {
	position: absolute;
	left: 561px;
	top: 133px;
	overflow: hidden;
	width: 111px;
	height: 24px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(112,112,112,1);
}
.Line_2 {
	overflow: visible;
	position: absolute;
	top: 168.5px;
	left: 188.5px;
	width: 45px;
	height: 3px;
}
#Alexander {
	position: absolute;
	left: 1126.5px;
	top: 69.5px;
	overflow: hidden;
	width: 78px;
	height: 18px;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#Admin {
	position: absolute;
	left: 1126.5px;
	top: 90.5px;
	overflow: hidden;
	width: 78px;
	height: 18px;
	line-height: 25px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#title_24px {
	position: absolute;
	width: 37px;
	height: 37px;
	left: 353.01px;
	top: 243px;
	overflow: visible;
}
.Path_311 {
	overflow: visible;
	position: absolute;
	top: 6.224px;
	left: 7.665px;
	width: 21.67px;
	height: 22.996px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_312 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 37px;
	height: 37px;
	transform: matrix(1,0,0,1,0,0);
}
#widgets_24px {
	position: absolute;
	width: 37px;
	height: 37px;
	left: 753px;
	top: 243px;
	overflow: visible;
}
.Path_313 {
	overflow: visible;
	position: absolute;
	top: 1.69px;
	left: 3px;
	width: 32.32px;
	height: 32.31px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_314 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 37px;
	height: 37px;
	transform: matrix(1,0,0,1,0,0);
}
#date_range_24px {
	position: absolute;
	width: 37px;
	height: 37px;
	left: 1153px;
	top: 243px;
	overflow: visible;
}
.Path_315 {
	overflow: visible;
	position: absolute;
	top: 2px;
	left: 3px;
	width: 31px;
	height: 33px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_316 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 37px;
	height: 37px;
	transform: matrix(1,0,0,1,0,0);
}
#Total_Views_A24_Group_7 {
	position: absolute;
	width: 370px;
	height: 341px;
	left: 855px;
	top: 383px;
	overflow: visible;
}

.BG_A24_Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 388px;
	height: 385px;
	left: 0px;
	top: 0px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.060);
}
#Head {
	position: absolute;
	width: 328.748px;
	height: 44px;
	left: 877px;
	top: 403px;
	overflow: visible;
}
.Divider {
	overflow: visible;
	position: absolute;
	top: 43px;
	left: 0px;
	width: 328.748px;
	height: 1px;
	transform: matrix(1,0,0,1,0,0);
}
#Course_Offering__Numerics {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#New_Customers {
	position: absolute;
	width: 326px;
	height: 38px;
	left: 877px;
	top: 467px;
	overflow: visible;
}
#Yes {
	opacity: 0.5;
	position: absolute;
	left: 308px;
	top: 11px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Schedule_Course {
	position: absolute;
	left: 46px;
	top: 10px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Icon {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Icon_BG {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
.New_customer_Icon {
	overflow: visible;
	position: absolute;
	top: 11px;
	left: 11px;
	width: 16px;
	height: 16px;
	transform: matrix(1,0,0,1,0,0);
}
#New_Customers_A24_Group_11 {
	position: absolute;
	width: 326px;
	height: 38px;
	left: 877px;
	top: 545px;
	overflow: visible;
}
#Yes_A24_Text_18 {
	opacity: 0.5;
	position: absolute;
	left: 308px;
	top: 11px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Offering_Number {
	position: absolute;
	left: 46px;
	top: 10px;
	overflow: visible;
	width: 106px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Icon_A24_Group_12 {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Icon_BG_A24_Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
.New_customer_Icon_A24_BooleanGroup_2 {
	overflow: visible;
	position: absolute;
	top: 11px;
	left: 11px;
	width: 16px;
	height: 16px;
	transform: matrix(1,0,0,1,0,0);
}
#New_Customers_A24_Group_13 {
	position: absolute;
	width: 326px;
	height: 38px;
	left: 877px;
	top: 623px;
	overflow: visible;
}
#Yes_A24_Text_20 {
	opacity: 0.5;
	position: absolute;
	left: 308px;
	top: 11px;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Catalog_Number {
	position: absolute;
	left: 46px;
	top: 10px;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Icon_A24_Group_14 {
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Icon_BG_A24_Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 0px;
}
.New_customer_Icon_A24_BooleanGroup_3 {
	overflow: visible;
	position: absolute;
	top: 11px;
	left: 11px;
	width: 16px;
	height: 16px;
	transform: matrix(1,0,0,1,0,0);
}
#Top_Product {
	position: absolute;
	width: 770px;
	height: 367px;
	left: 55px;
	top: 383px;
	overflow: visible;
}

.BG_A24_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 788px;
	height: 385px;
	left: 0px;
	top: 0px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.060);
}
#Row_3 {
	position: absolute;
	width: 730px;
	height: 83px;
	left: 20px;
	top: 275px;
	overflow: visible;
}
.Divider_A24_Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 1px;
	left: 0px;
	top: 82px;
}
.Row_BG {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 82px;
	left: 0px;
	top: 0px;
}
#School_of_Computer_Science {
	position: absolute;
	left: 544px;
	top: 33px;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Label {
	position: absolute;
	width: 90px;
	height: 24px;
	left: 360px;
	top: 29px;
	overflow: visible;
}
#Label_BG {
	opacity: 0.2;
}
.Label_BG {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Label_Content {
	opacity: 0.5;
	position: absolute;
	left: 23px;
	top: 5px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
#Product_Title {
	position: absolute;
	left: 76px;
	top: 33px;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#home_work_24px {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 20px;
	top: 23px;
	overflow: visible;
}
.Path_321 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 36px;
	height: 36px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_322 {
	overflow: visible;
	position: absolute;
	top: 8.55px;
	left: 1.5px;
	width: 21px;
	height: 22.95px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_323 {
	overflow: visible;
	position: absolute;
	top: 10.5px;
	left: 25.5px;
	width: 3px;
	height: 3px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_324 {
	overflow: visible;
	position: absolute;
	top: 4.5px;
	left: 15px;
	width: 19.5px;
	height: 27px;
	transform: matrix(1,0,0,1,0,0);
}
#Row_2 {
	position: absolute;
	width: 730px;
	height: 83px;
	left: 20px;
	top: 192px;
	overflow: visible;
}
.Divider_A24_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 1px;
	left: 0px;
	top: 82px;
}
.Row_BG_A24_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 82px;
	left: 0px;
	top: 0px;
}
#North_Terrace_Campus {
	position: absolute;
	left: 575px;
	top: 33px;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Label_A24_Group_20 {
	position: absolute;
	width: 90px;
	height: 24px;
	left: 361px;
	top: 29px;
	overflow: visible;
}
#Label_BG_A24_Rectangle_11 {
	opacity: 0.2;
}
.Label_BG_A24_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Label_Content_A24_Text_26 {
	opacity: 0.5;
	position: absolute;
	margin-left: 28px;
	margin-right: 30px;
	top: 6px;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -6.5px;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
#Product_Title_A24_Text_27 {
	position: absolute;
	left: 76px;
	top: 33px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#assignment_24px {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 20px;
	top: 21px;
	overflow: visible;
}
.Path_319 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_320 {
	overflow: visible;
	position: absolute;
	top: 1.667px;
	left: 5px;
	width: 30px;
	height: 33.333px;
	transform: matrix(1,0,0,1,0,0);
}
#Row_1 {
	position: absolute;
	width: 730px;
	height: 83px;
	left: 20px;
	top: 109px;
	overflow: visible;
}
.Divider_A24_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 1px;
	left: 0px;
	top: 82px;
}
.Row_BG_A24_Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 82px;
	left: 0px;
	top: 0px;
}
#Computer_Science {
	position: absolute;
	left: 597px;
	top: 33px;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Label_A24_Group_23 {
	position: absolute;
	width: 90px;
	height: 24px;
	left: 359px;
	top: 29px;
	overflow: visible;
}
#Label_BG_A24_Rectangle_14 {
	opacity: 0.2;
}
.Label_BG_A24_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Label_Content_A24_Text_29 {
	opacity: 0.5;
	position: absolute;
	left: 23px;
	top: 5px;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	line-height: 24px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(0,0,0,1);
}
#Product_Title_A24_Text_30 {
	position: absolute;
	left: 76px;
	top: 33px;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#subject_24px {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 20px;
	top: 20px;
	overflow: visible;
}
.Path_317 {
	overflow: visible;
	position: absolute;
	top: 8.75px;
	left: 7px;
	width: 28px;
	height: 24.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_318 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 42px;
	height: 42px;
	transform: matrix(1,0,0,1,0,0);
}
#Head_A24_Group_25 {
	position: absolute;
	width: 730px;
	height: 45px;
	left: 20px;
	top: 64px;
	overflow: visible;
}
.Head_BG {
	position: absolute;
	overflow: visible;
	width: 730px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Location {
	position: absolute;
	left: 649px;
	top: 17px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: right;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(163,166,180,1);
}
#ID {
	position: absolute;
	left: 365px;
	top: 17px;
	overflow: visible;
	width: 12px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(163,166,180,1);
}
#Information {
	position: absolute;
	left: 20px;
	top: 17px;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	color: rgba(163,166,180,1);
}
#Course_Offering___Locations {
	position: absolute;
	left: 20px;
	top: 21px;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: rgba(77,79,92,1);
}
#Group_245 {
	position: absolute;
	width: 42px;
	height: 42px;
	left: 1074.999px;
	top: 67px;
	overflow: visible;
}